.Login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#customBtn {
    display: inline-block;
    background: #4285f4;
    color: #444;
    width: 200px;
    border: px;
    border: thin solid #4285f4;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('../../static/signInIcon.png') white 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
.loginlogo {
    width: 200px;
    height: 45px;
    margin-bottom: 2vh;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}
